#menu-2 .navbar-toggler {
  color: #000;
}
#header1-3 H1 {
  color: #d9534f;
}
#menu-0 .navbar-toggler {
  color: #000;
}
#header1-1 H1 {
  color: #0b8eff;
}
#contacts3-6 P {
  font-size: 13px;
}
#contacts3-6 UL {
  font-size: 10px;
}
